/* * { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}
.App {
  text-align: center;
  /* background-image: url("../assets/wallpaper.jpg"); */
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* filter:opacity(1); */
}

.container {
  padding: 20px;
  /* background-color: hsl(33, 65%, 97%); */

  border: 2px solid #874402;
  /* min-height: 100vh; */
}

.layoutContainer {
  
  display: flex;
  justify-content: space-around;
  color: #874402;
  width: 100%;
  height: 100%;
}

/* LOGIN PAGES */
.back {
  background-color: #874402;
  color: white;
  position: relative;

  display: flex;
  justify-content: space-between;
  padding: 20px 40px;

  bottom: 0;
}

.header {
  background-color: #874402;
  color: white;
  position: relative;

  display: flex;
  justify-content: stretch;
  padding: 20px 40px;

  top: 0;
}

.background {
  position: relative;
  width: 100%;
  height: auto;
  opacity: 0.5;
  display: flex;
  justify-content: space-between;
}

.loginContent {
  width: 100%;
  height: auto;
}

.loginForm {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.loginForm label {
  display: block;
  margin-bottom: 10px;
}

/*  MENUCATEGORY */

.mcName {
  display: flex;
  justify-content: space-between;
  background-color: #f2e9df;

}

.mch2 {


  display: flex;
  color: #874402;
  justify-content: center;

}

.mcButton {
  color: #874402;
  display: flex;
  color: #874402;
  justify-content: space-around;
  padding: 20px;
  border-radius: 15px;
  right: 0;
}



/* HOME.JS */

.homeWrap {
  position: relative;
}

.homeProfileIcon {
  position: absolute;
}
/* this needs fixing in a parent styling */
.infoButton {
  border-radius: 50% !important;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: normal;
  /* transition: all 0.2s ease-in-out; */
  font-size: 24px;
  background: none;
  border: none;

}

/* MENU DROPDOWN BUTTONS */
/* These dont need touching */
.buttonStyle {
  background-color:#f2e9df;
  border-radius: 50% !important;
  border: 1px solid #000000;
  margin:5px;
}

.buttonStyleRemove {
  background-color:#f2e9df;
  border-radius: 10px;
  border: 1px solid #000000;
  margin:5px;
}

.buttonStyleRemove:hover {
  color: rgba(255, 255, 255, 1);
} 

.buttonStyleAdd {
  background-color:#f2e9df;
  border-radius: 10px;
  border: 1px solid #000000;
  margin:5px;
}

.buttonStyleAdd:hover {
  color: rgba(255, 255, 255, 1);
} 

/* Profile */

.profileContainer {
  background-color: hsl(33, 65%, 97%);
}

.profileItem {
  margin: 10px;
}